<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#005751">
    <title>I'm Tooru</title>
    <link rel="stylesheet" href="./statics/styles/normalize.css">
    <link rel="stylesheet" href="./statics/styles/heti.min.css">
    <link rel="stylesheet" href="./statics/styles/style.css">
    <style>
        .bg3
        {
            background : linear-gradient(to top, rgba(0, 37, 61, 1) 0.08%, rgba(0, 87, 81, 1) 100%);
            z-index: -1;
        }
    </style>
</head>
<body class="pos-relative mori">
<div class="window-size pos-absolute pos-all-0 bg3"></div>
<div class="window-size pos-absolute pos-all-0 mori-clip">
    <div id="mori" class="pos-relative">

        <div class="window-size filter pos-absolute pos-all-0 bg"></div>
        <div data-depth="0.8" class="filter shrub deep-0"></div>
        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves3" style="opacity: 0.4;"></div>
        <div data-depth="1" class="filter pos-absolute pos-all-0 tree1"></div>
        <div data-depth="0.8" class="filter shrub deep-1"></div>
        <div data-depth="0.6" class="filter pos-absolute pos-all-0 tree2"></div>
        <div data-depth="0.1" class="light"></div>
        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves2" style="opacity: 0.6;"></div>
        <div data-depth="0.4" class="filter shrub deep-2"></div>
        <div data-depth="0.2" class="filter pos-absolute pos-all-0 tree3"></div>
        <div data-depth="0.1" class="filter shrub"></div>
        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves1" style="opacity: 0.8"></div>

    </div>
</div>

<div class=" pos-absolute pos-all-0">
    <div class="body pos-relative">
        <div class="pos-absolute pos-all-0 filter ink" v-scope>
            <div class="content heti heti--vertical" v-if="!vueIsLoaded">
                <p>「倘若周围一片漆黑</p>
                <p>那就只能静待眼睛习惯黑暗」</p>
            </div>
            <div class="content heti heti--vertical hide" v-bind:style="{display: vueIsLoaded ? 'block' : 'none'}">
                <p v-for="ink in inks" class="" v-bind:style="{fontSize: ink.size}">
                    <span v-for="str in ink.list" style="display: block">{{ str }}</span>
                </p>
            </div>
        </div>
        <div data-depth="0" class="pos-absolute pos-all-0 me">
            <div class="content filter full-size">
                <div class="full-size no-filter">
                    <header >
                        <h1>Tooru</h1>
                        <h2>「彻<span style="display: inline-block;width: 1.5vw">」</span></h2>
                        <div>
                            <p class=" heti">
                                名字来自于「挪威的森林」中主角「渡边彻」<br/>
                                我一般使用「咸鱼」这个名字。<br/>
                            </p>
                        </div>
                        <div>
                            <p class="heti">
                                最喜欢的动漫是「冰菓」<br/>
                                因此这里还有个<a href="./sakura.html">冰菓</a>风格，<br>
                                不过不太满意，或许会重写。
                            </p>
                        </div>
                    </header>
                    <div class="heti">
                        <h3>「友情链接」</h3>
                        <div class=" links">
                            <a href="http://blog.ll00.cn">零零博客</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="pos-absolute filter footer">
    Copyright &copy; 2022 <a href="//tooru.ink">Tooru</a> - 咸鱼「彻」. All rights reserved.
</footer>

<script src="./statics/scripts/vue.js"></script>
<script src="./statics/scripts/parallax.min.js"></script>
<script src="./statics/scripts/fall.js"></script>
<script>

    const mori = document.getElementById('mori');
    const parallaxInstance = new Parallax(mori);

    /** @type {FallItem[]} */
    const leaves = [];
    for (let i = 1; i <= 5; i++) {
        let path = `./statics/imgs/leaves/leaves${i}.svg`;
        leaves.push(new FallItem(path, 1))
    }

    const leaves3 = document.getElementById("leaves3")
    const fall3 = new Fall(leaves3, leaves, 30, 5)

    const leaves2 = document.getElementById("leaves2")
    const fall2 = new Fall(leaves2, leaves, 30, 5)

    const leaves1 = document.getElementById("leaves1")
    const fall1 = new Fall(leaves1, leaves, 15, 5)

    PetiteVue.createApp({
        inks: [
            {
                "size": "2.4vh",
                "list": ["「倘若周围一片漆黑", "那就只能静待眼睛习惯黑暗」"]
            },
            {
                "size": "2.4vh",
                "list": ["「哪儿有人会喜欢孤独", "只是害怕失望罢了」"]
            },
            {
                "size": "2.4vh",
                "list": ["「我几次朝着夜幕伸出手去，指尖毫无所触", "那小小的光点总是同指尖保持着一点点不可触及的距离」"]
            }
        ],
        index: 0,
        vueIsLoaded: true,
    }).mount();

</script>
</body>
</html>
