<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#70acff">
    <title>I'm Tooru</title>
    <link rel="stylesheet" href="./statics/styles/normalize.css">
    <link rel="stylesheet" href="./statics/styles/heti.min.css">
    <link rel="stylesheet" href="./statics/styles/style.css">
    <style>
        .bg-sakura1
        {
            background : linear-gradient(to top, #ffd5d5 0%, #ffe4e4 100%);
            z-index: -1;
        }
        .bg-sakura2
        {
            background : linear-gradient(to top, #ffe4e4 5%, #70acff 100%);
            z-index: -1;
        }
    </style>
</head>
<body class="pos-relative sakura">
<div class="window-size pos-absolute pos-all-0 bg-sakura1"></div>
<div class="window-size pos-absolute pos-all-0 bg-sakura2"></div>
<div class="window-size pos-absolute pos-all-0 mori-clip">
    <div id="sakura" class="pos-relative" style="overflow: visible">

        <div data-depth="0.4" class="filter pos-absolute pos-all-0 window-size hana-container hana-bg">
            <img src="./statics/imgs/hana/hana2.png" class="hana hana7" alt="">
        </div>

        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves3" style="opacity: 0.4;"></div>

        <div data-depth="0.6" class="filter pos-absolute pos-all-0 window-size hana-container hana-bg">
            <img src="./statics/imgs/hana/hana1.png" class="hana hana6" alt="">
        </div>


        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves2" style="opacity: 0.6;"></div>

        <div data-depth="0.3" class="filter pos-absolute pos-all-0 window-size hana-container" id="hana">
            <img data-depth="0.1" src="./statics/imgs/hana/hana1.png" class="hana hana1" alt="">
            <img data-depth="0.1" src="./statics/imgs/hana/hana2.png" class="hana hana2" alt="">
            <img data-depth="0.1" src="./statics/imgs/hana/hana3.png" class="hana hana3" alt="">
            <img data-depth="0.1" src="./statics/imgs/hana/hana4.png" class="hana hana5" alt="">
        </div>

        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves1" style="opacity: 0.8"></div>

        <div data-depth="0" class="pos-absolute pos-all-0 me">
            <div class="content filter full-size">
                <div class="full-size no-filter">
                    <header >
                        <h1>Tooru</h1>
                        <h2>「彻<span style="display: inline-block;width: 1.5vw">」</span></h2>
                        <div>
                            <p class="desc heti">
                                名字来自于「<a href="./index.html">挪威的森林</a>」中主角「渡边彻」<br/>
                                我一般使用「咸鱼」这个名字。<br/>
                            </p>
                        </div>
                    </header>
                    <div  style="text-align: right;width: 100%;">
                        <div class="heti heti--vertical" style="display: inline-block">
                            <p v-for="ink in inks" class="" v-bind:style="{fontSize: ink.size}">
                                <span v-for="str in ink.list" style="display: block">{{ str }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="pos-absolute filter footer">
    Copyright &copy; 2022 <a href="//tooru.ink">Tooru</a> - 咸鱼. All rights reserved.
</footer>

<script src="./statics/scripts/vue.js"></script>
<script src="./statics/scripts/parallax.min.js"></script>
<script src="./statics/scripts/fall.js"></script>
<script>

    const mori = document.getElementById('sakura');
    const parallaxInstance = new Parallax(mori);

    /** @type {FallItem[]} */
    const leaves = [];
    for (let i = 1; i <= 7; i++) {
        let path = `./statics/imgs/sakura/sakura${i}@3x.png`;
        leaves.push(new FallItem(path, 2, undefined, false, 1))
    }

    const leaves3 = document.getElementById("leaves3")
    const fall3 = new Fall(leaves3, leaves, 20, 5)

    const leaves2 = document.getElementById("leaves2")
    const fall2 = new Fall(leaves2, leaves, 20, 3)

    const leaves1 = document.getElementById("leaves1")
    const fall1 = new Fall(leaves1, leaves, 30, 5)

    PetiteVue.createApp({
        inks: [
            {
                "size": "4vh",
                "list": ["「天变冷了呢", "不，已经入春了」"]
            },
        ],
        index: 0,
        vueIsLoaded: true,
    }).mount();

</script>
</body>
</html>
